{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="app">
        <leaf></leaf>
    </div>
{% endblock %}
