{% block subject %}{{ 'reset_password'|trans }}{% endblock %}

{% block body %}
    Bonjour {{ user.email }}

    Voici le lien de réinitialisation de mdp : <a href="{{ absolute_url(path('user_bundle_security_password_reset', { 'token': user.confirmationToken })) }}">ICI</a>
{% endblock %}
