{% extends 'base.html.twig' %}

{% block body %}
    <div id="app" class="container-fluid">
        <div class="panel mt-2">
            <div class="d-flex justify-content-center">
                <h1 class="font-weight-bold text-danger">404</h1>
            </div>
            <div class="d-flex justify-content-center">
                <h1 class="text-danger">
                    <i class="fas fa-question-circle"></i>
                    La page demandée n'existe pas ou n'a pas été trouvé.
                </h1>
            </div>
        </div>
    </div>
{% endblock %}